html, body {
    height: 100%;
}

body {
    background: linear-gradient(rgba(217, 153, 185, 0.47), rgba(175, 216, 217, 0.42)),
    url(../images/mountains.jpg);
}

a {
    text-decoration: none;
    color: #000;
}

.site-container {
    width: 40%;
    margin: auto;
}

.content {
}

.header-container {
    margin: 0;
    padding: 1%;
    text-align: center;
}

.logo {
    width: 20%;
}

.welcome-text {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.buttons {
    display: inline-block;
    width: 100%;
}

.input:after {
    clear: both;
}

.control-container {
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 190, 186, 0.80);
    border-radius: 15px;
    padding: 10px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

input[type=submit], .default-btn {
    cursor: pointer;
    width: 100px;
    background: linear-gradient(to bottom right, #eb8dc7, #ba99d9);
    box-sizing: border-box;
    font-family: Montserrat, serif;
    font-size: 15px;
    float: left;
    padding: 5px;
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
    margin-top: 5px;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.75);
    transition: margin .5s,
    box-shadow .5s,
    -moz-box-shadow .5s,
    -webkit-box-shadow .5s;
}

.big-btn {
    font-size: 30px;
    width: 100%;
}

.small-btn {
}

input[type=submit]:hover, .default-btn:hover {
    margin-bottom: 5px;
    margin-top: 10px;
    -webkit-box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.75);
}

input[type=text], input[type=number] {
    border-radius: 15px;
    border-color: violet;
    line-height: 20px;
    float: left;
}

.label {
    font-family: Montserrat, serif;
    font-size: 20px;
    width: 100px;
    float: left;
}

.input-container {
    height: 30px;
    width: 100%;
}

.balance {
    font-family: Montserrat, serif;
    font-size: 30px;
    text-align: right;
    width: 100%;
    margin: 10px 0;
}

.copyright {
    font-size: 8px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    padding-bottom: 30px;
}
