<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${#authentication.name}">Foofoo</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Chilanka|Poppins:600&display=swap" rel="stylesheet">
</head>
<body>
<div class="site-container">
    <div class="header-container">
        <img onclick="window.location = '/'" class="logo" th:src="@{/images/logo.png}"/>
        <h3 class="welcome-text">Hello <span th:text="${#authentication.name}">user</span>!</h3>
        <a href="/">
            <div class="default-btn">
                Back Home
            </div>
        </a>
    </div>
    <div class="content">
        <div class="control-container">
            <div class="balance"><span th:text="${balance}">0</span>,-€</div>
            <div class="buttons">
                <a href="transaction">
                    <div class="default-btn big-btn">
                        New Transaction
                    </div>
                </a>
                <a href="disburse">
                    <div class="default-btn">
                        Disburse
                    </div>
                </a>
                <a href="deposit">
                    <div class="default-btn">
                        Deposit
                    </div>
                </a>
            </div>
        </div>
        <p class="copyright">© Augusto && Blazej && Bjarne | 2K19</p>
    </div>
</div>
</body>
</html>
